In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import re
import os

In [441]:
def read_data(path='/content/gdrive/My Drive/Colab Notebooks/sber-hack/data.csv', parse_dates=True, index_col='Время публикации'):
    data = pd.read_csv(path)

    return data

In [470]:
def table_prep(data):
    # data = data.drop(['salary', 'published_at'], axis=1)
    vacancy = pd.DataFrame(np.zeros(len(data.name)))
    vacancy.columns = ['vacancy']
    data.vacancy = ''

    data = pd.concat([data, vacancy], axis=1)

    return data

In [393]:
def parse_vacancies(data):
    # data = read_data(path)

    data = table_prep(data)

    data.vacancy.loc[data.name.isin([name for name in data.name if 'python' in name.lower()])] = 'Python разработчик'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'аналитик' in name.lower() or 'analyst' in name.lower()])] = 'Аналитик'

    data.vacancy.loc[data.name.isin([name for name in data.name
                                     if ('анал' in str(name).lower() and 'дан' in str(name).lower())
                                     or ('data' in str(name).lower() and 'anal' in str(name).lower())])] = 'Аналитик данных'

    data.vacancy.loc[data.name.isin([name for name in data.name
                                     if 'develop' in str(name).lower() or
                                     'програм' in str(name).lower() or
                                     'разраб' in str(name).lower() or
                                     ('soft' in str(name).lower() and 'ingeneer' in str(name).lower()) or
                                     ('python' in name.lower() and 'engineer' in name.lower())])] = 'Разработчик'

    data.vacancy.loc[data.name.isin([name for name in data.name
                                     if 'data' in str(name).lower() and 'scien' in str(name).lower() or
                                     ('deep' in name.lower() and 'learn' in name.lower())])] = 'Data Scientist'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'qa' in name.lower() or
                             'test' in name.lower() or 'тест' in name.lower() or
                             'тест' in name.lower()])] = 'Тестировщик'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'разраб' in name.lower() and 'анал' in name.lower()])] = 'Разработчик-аналитик'

    data.vacancy.loc[data.name.isin([name for name in data.name if ('devops' in name.lower()) or
                             ('dev' in name.lower() and 'ops' in name.lower())])] = 'DevOps'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'data' in name.lower() and 'engineer' in name.lower()])] = 'Data Engineer'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'machine' in name.lower() and 'learning' in name.lower() and 'engineer' in name.lower()])] = 'Machine Learning Engineer'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'fullstack' in name.lower() or
                                     ('full' in name.lower() and 'stack' in name.lower())])] = 'Fullstack'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'backend' in name.lower() or
                                     'back' in name.lower() and 'end' in name.lower()])] = 'Backend'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'frontend' in name.lower() or
                             'front' in name.lower()])] = 'Frontend'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'computer' in name.lower() and 'vision' in name.lower()])] = 'Computer Vision'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'системный' in name.lower() and 'аналитик' in name.lower()])] = 'Системный аналитик'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'сис' in name.lower() and 'админ' in name.lower() or
                                     'администратор' in name.lower()])] = 'Системный администратор'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'product' in name.lower()])] = 'Product'

    data.vacancy.loc[data.name.isin([name for name in data.name if ('data' in name.lower() and 'analyst' in name.lower()) or
                             ('спец' in name.lower() and 'дан' in name.lower()) or
                             'sql' in name.lower()])] = 'Аналитик данных'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'team' in name.lower() and 'lead' in name.lower()])] = 'Team lead'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'bi' in name.lower()])] = 'BI'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'etl' in name.lower()])] = 'ETL разработчик'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'защит' in name.lower() or 'security' in name.lower()])] = 'Безопасность данных'

    data.vacancy.loc[data.name.isin([name for name in data.name if 'инженер' in name.lower()])] = 'Инженер'

    data.vacancy.loc[data.name.isin([name for name in data.name if ('машин' in name.lower() and 'обуч' in name.lower()) or
                             ('ml' in name.lower() and 'engineer' in name.lower()) or
                             ('machine' in name.lower() and 'learn' in name.lower())])] = 'Machine learning engineer'

    data.vacancy.loc[data.name.isin([name for name in data.name if ('data' in name.lower() and 'инженер' in name.lower()) or
                             ('дан' in name.lower() and 'инженер' in name.lower()) or
                             ('дат' in name.lower() and 'инженер' in name.lower())])] = 'Data engineer'

    data.vacancy.loc[data.name.isin([name for name in data.name if ('сист' in name.lower() and 'инженер' in name.lower())])] = 'System engineer'

    data.vacancy.loc[data.name.isin([name for name in data.name if ('linux' in name.lower())])] = 'Linux инженер'

    return data

In [ ]:
path = os.path.join('/content/gdrive/My Drive/Colab Notebooks/sber-hack/data.csv')
result = parse_vacancies(path)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [483]:
path = os.path.join('/content/gdrive/My Drive/Colab Notebooks/sber-hack/vacancies.csv')
dt = read_data(path)
dt.head()

                                     Наименование  ...          Локация
0                                Python developer  ...  Санкт-Петербург
1  Full Stack (Ruby+React/React Native) developer  ...  Санкт-Петербург
2                  JavaScript (Angular) developer  ...  Санкт-Петербург
3                  JavaScript (Node.JS) developer  ...  Санкт-Петербург
4                                  PHP developer   ...  Санкт-Петербург

[5 rows x 5 columns]

In [484]:
dt.columns = ['name', 'key_skills', 'salary', 'created_at', 'area']
dt.head()

                                             name  ...             area
0                                Python developer  ...  Санкт-Петербург
1  Full Stack (Ruby+React/React Native) developer  ...  Санкт-Петербург
2                  JavaScript (Angular) developer  ...  Санкт-Петербург
3                  JavaScript (Node.JS) developer  ...  Санкт-Петербург
4                                  PHP developer   ...  Санкт-Петербург

[5 rows x 5 columns]

In [486]:
dt['created_at'] = pd.to_datetime(dt['created_at']).apply(lambda date: date.strftime('%Y-%m-%d'))
# df['month'] = df['Время публикации'].apply(lambda date: date.month)
# df['year'] = df['Время публикации'].apply(lambda date: date.year)

In [487]:
dt.head()

                                             name  ...             area
0                                Python developer  ...  Санкт-Петербург
1  Full Stack (Ruby+React/React Native) developer  ...  Санкт-Петербург
2                  JavaScript (Angular) developer  ...  Санкт-Петербург
3                  JavaScript (Node.JS) developer  ...  Санкт-Петербург
4                                  PHP developer   ...  Санкт-Петербург

[5 rows x 5 columns]

In [488]:
dt = dt.drop('salary', axis = 1)

In [489]:
active = parse_vacancies(dt)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [491]:
active = active.drop('name', axis=1)
active.head()

                                          key_skills  ...      vacancy
0    ['Разработка ПО', 'Средний (Middle)', 'Python']  ...  Разработчик
1  ['Разработка ПО', 'Средний (Middle)', 'Ruby', ...  ...    Fullstack
2  ['Разработка ПО', 'Старший (Senior)', 'JavaScr...  ...  Разработчик
3  ['Разработка ПО', 'Средний (Middle)', 'JavaScr...  ...  Разработчик
4  ['Разработка ПО', 'Средний (Middle)', 'PHP', '...  ...  Разработчик

[5 rows x 4 columns]

In [492]:
path = os.path.join('/content/gdrive/My Drive/Colab Notebooks/sber-hack/vacancies_active.csv')
dt_active = read_data(path)
dt_active.head()

                            Наименование  ... Локация
0                      Android developer  ...   Минск
1                      Android developer  ...   Минск
2  Head‌ ‌of‌ ‌Salesforce‌ ‌‌Department   ...   Минск
3   Head‌ ‌of‌ ‌Salesforce‌ ‌‌Department  ...   Минск
4         JavaScript (Node.js) developer  ...   Минск

[5 rows x 5 columns]

In [493]:
dt_active.columns = ['name', 'key_skills', 'salary', 'created_at', 'area']
dt_active.head()

                                    name  ...   area
0                      Android developer  ...  Минск
1                      Android developer  ...  Минск
2  Head‌ ‌of‌ ‌Salesforce‌ ‌‌Department   ...  Минск
3   Head‌ ‌of‌ ‌Salesforce‌ ‌‌Department  ...  Минск
4         JavaScript (Node.js) developer  ...  Минск

[5 rows x 5 columns]

In [494]:
dt_active['created_at'] = pd.to_datetime(dt_active['created_at']).apply(lambda date: date.strftime('%Y-%m-%d'))

In [495]:
dt_active = dt_active.drop('salary', axis = 1)

In [496]:
dt_active = parse_vacancies(dt_active)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [497]:
dt_active.head()

                                    name  ...      vacancy
0                      Android developer  ...  Разработчик
1                      Android developer  ...  Разработчик
2  Head‌ ‌of‌ ‌Salesforce‌ ‌‌Department   ...            0
3   Head‌ ‌of‌ ‌Salesforce‌ ‌‌Department  ...            0
4         JavaScript (Node.js) developer  ...  Разработчик

[5 rows x 5 columns]

In [498]:
dt_active = dt_active[dt_active.vacancy != 0]

In [499]:
active = active[active.vacancy != 0]

In [500]:
active.head()

                                          key_skills  ...      vacancy
0    ['Разработка ПО', 'Средний (Middle)', 'Python']  ...  Разработчик
1  ['Разработка ПО', 'Средний (Middle)', 'Ruby', ...  ...    Fullstack
2  ['Разработка ПО', 'Старший (Senior)', 'JavaScr...  ...  Разработчик
3  ['Разработка ПО', 'Средний (Middle)', 'JavaScr...  ...  Разработчик
4  ['Разработка ПО', 'Средний (Middle)', 'PHP', '...  ...  Разработчик

[5 rows x 4 columns]

In [502]:
dt_active = dt_active.drop('name', axis=1)

In [503]:
dt_active.head()

                                          key_skills  ...      vacancy
0  ['Разработка ПО', 'Средний (Middle)', 'Разрабо...  ...  Разработчик
1  ['Разработка ПО', 'Средний (Middle)', 'Разрабо...  ...  Разработчик
4  ['Разработка ПО', 'Средний (Middle)', 'JavaScr...  ...  Разработчик
5  ['Разработка ПО', 'Средний (Middle)', 'JavaScr...  ...  Разработчик
6  ['Разработка ПО', 'Средний (Middle)', 'JavaScr...  ...  Разработчик

[5 rows x 4 columns]

In [504]:
np.unique(active.vacancy)

array(['BI', 'Backend', 'Computer Vision', 'Data Engineer',
       'Data Scientist', 'Data engineer', 'DevOps', 'ETL разработчик',
       'Frontend', 'Fullstack', 'Linux инженер',
       'Machine learning engineer', 'Product', 'Python разработчик',
       'System engineer', 'Team lead', 'Аналитик', 'Аналитик данных',
       'Безопасность данных', 'Инженер', 'Разработчик',
       'Разработчик-аналитик', 'Системный администратор',
       'Системный аналитик', 'Тестировщик'], dtype=object)

In [505]:
np.unique(dt_active.vacancy)

array(['BI', 'Backend', 'Data Engineer', 'Data Scientist',
       'Data engineer', 'DevOps', 'ETL разработчик', 'Frontend',
       'Fullstack', 'Linux инженер', 'Machine learning engineer',
       'Product', 'Python разработчик', 'System engineer', 'Team lead',
       'Аналитик', 'Аналитик данных', 'Безопасность данных', 'Инженер',
       'Разработчик', 'Системный администратор', 'Системный аналитик',
       'Тестировщик'], dtype=object)

In [506]:
result = pd.concat([dt_active, active])
result.head()

                                          key_skills  ...      vacancy
0  ['Разработка ПО', 'Средний (Middle)', 'Разрабо...  ...  Разработчик
1  ['Разработка ПО', 'Средний (Middle)', 'Разрабо...  ...  Разработчик
4  ['Разработка ПО', 'Средний (Middle)', 'JavaScr...  ...  Разработчик
5  ['Разработка ПО', 'Средний (Middle)', 'JavaScr...  ...  Разработчик
6  ['Разработка ПО', 'Средний (Middle)', 'JavaScr...  ...  Разработчик

[5 rows x 4 columns]

In [507]:
result.to_csv(os.path.join('/content/gdrive/My Drive/Colab Notebooks/sber-hack/result_data.csv'))

In [399]:
result = result.drop('counters', axis=1)

In [404]:
result

                                   area  ...                  vacancy
0                       Санкт-Петербург  ...              Разработчик
1     Дзержинск (Нижегородская область)  ...              Разработчик
2                                Москва  ...              Разработчик
3                                Москва  ...              Разработчик
4                                Москва  ...              Разработчик
...                                 ...  ...                      ...
2241                             Москва  ...  Системный администратор
2242                             Москва  ...                Team lead
2243                             Москва  ...                  Инженер
2244                    Санкт-Петербург  ...                  Инженер
2245                             Москва  ...                 Аналитик

[2246 rows x 4 columns]

In [ ]:
result.to_csv(os.path.join('/content/gdrive/My Drive/Colab Notebooks/sber-hack/new_data.csv'))

In [ ]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer('russian')

In [ ]:
[stemmer.stem(s) for s in str(name).lower().replace('-', ' ').split(' ')]

['стажер', '', '', 'python', 'разработчик', '(django,', 'drf)']